/* phone = smaller than 479
tablet = 480-1023
phone = 1024 and bigger */

/* phone */
@media screen and (max-width: 479px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    #title {
        font-size: 16vw;
    }

    #description {
        font-size: 0.9em;
    }

    .signup input {
        width: 10em;
        font-size: 1em;
    }
    
    .signup button {
        width: auto;
        cursor: pointer;
        font-size: 1em;
    }
    
    .description {
        width: 100%;
    }

    .circle-statistic {
        font-size: 2em;
        padding: 3em;
        margin-top: 1em;
        height: 50vw;
        width: 50vw;
    }

    .title {
        font-size: 3em;
    }

    .circle-statistic p {
        font-size: 1.2em;
    }

    .description1 {
        font-size: 1em;
    }

    .description2 {
        font-size: 1.2em;
    }
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 1023px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    #title {
        font-size: 6em;
    }

    #description {
        font-size: 1.5em;
    }

    .signup input {
        width: 15em;
        font-size: 1.5em;
    }
    
    .signup button {
        width: auto;
        cursor: pointer;
        font-size: 1.5em;
    }

    .description1 {
        width: 100%;
    }
    
    .statistics-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row !important;
        gap: 2em;
    }
    
    .circle-statistic {
        font-size: 2em;
        padding: 3em;
        margin-top: 1em;
        height: 30vw;
        width: 30vw;
    }

    .title {
        font-size: 4.5em;
    }

    .circle-statistic p {
        font-size: 1.5em;
    }

    .description1 {
        font-size: 1.2em;
    }

    .description2 {
        font-size: 1.2em;
    }

    .description2 strong {
        font-size: 2em;
    }
}

/* computer */
@media screen and (min-width: 1024px) {
    body {
        padding-left: 10%;
        padding-right: 10%;
    }

    #title {
        font-size: 10em;
    }

    #description {
        font-size: 2em;
    }    

    .signup input {
        width: 20em;
        font-size: 1.5em;
    }
    
    .signup button {
        width: auto;
        cursor: pointer;
        font-size: 1.5em;
    }

    .hours {
        position: absolute;
        right: 0;
        margin-right: 10em;
    }
    
    .hackers {
        position: absolute;
        right: 0;
        margin-top: 20em;
    }

    .title {
        font-size: 5em;
    }

    .description1 {
        width: 40em;
    }

    .description2 {
        width: 40em;
    }

    .circle-statistic {
        padding: 3em;
        height: 10em;
        width: 10em;
    }

    .circle-statistic p {
        font-size: 1.5em;
    }
}

