* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

:root {
    --teal: #449f94;
    --orange-1: #F04F03;
    --orange-2: #D13B00;
    --orange-3: #FDA747;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#title {
    display: flex;
}

#description {
    padding-top: 1em;
}

.signup {
    padding-top: 2em;
}

.signup input {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup button {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--teal);
    cursor: pointer;
}

.footer {
    background-color: var(--teal);
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle-statistic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 50%;
}

.circle-statistic span {
    font-weight: bold;
    font-size: 2em;
}




.sponsors {
    margin-top: 5em;
}
.sponsor-container {
    background-color: var(--orange-3);
    padding: 1.5em 2em 2em 2em;
    border-radius: 30px;
    margin-top: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sponsor-image img {
    width: 15vw;
    margin: 0 auto; /* Add this line to center the image horizontally */
}

.sponsor-image img {
    width: 15vw;
}

footer {
    padding: 1em;
    text-align: center;
    margin-top: 4em;
}

footer p {
    padding-top: 1em;
}