* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --teal : #449f94;
    --orange-1 : #F04F03;
    --orange-2 : #D13B00;
    --orange-3 : #FDA747;
}

.home {
    display: flex;
    /* margin-top: 25vh; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#title {
    display: flex;
}

/* phonee */
@media screen and (max-width: 768px) {
    #title {
        font-size: 4.5em;
    }
    #description {
        font-size: 1.5em;
    }

    .signup input {
        width: 10em;
        font-size: 1.5em;
    }
    
    .signup button {
        width: auto;
        cursor: pointer;
        font-size: 1.5em;
    }
}

/* computer */
@media screen and (min-width: 1024px) {
    #title {
        font-size: 10em;
    }
    #description {
        font-size: 2em;
    }    

    .signup input {
        width: 20em;
        font-size: 1.5em;
    }
    
    .signup button {
        width: auto;
        cursor: pointer;
        font-size: 1.5em;
    }
}

.signup {
    padding-top: 2em;
}

.signup input {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup button {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--teal);
    cursor: pointer;
}
.footer {
    background-color: var(--teal);
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.footer p {
    margin: 0;
}
.footer a {
    color: white;
    text-decoration: none;
}